<div class="barra">
  <span title="Clientes" routerLink="/listado-clientes">
    <i class="fas fa-box"></i>
  </span>
  <span title="Presupuestos" routerLink="/listado-presupuestos">
      <i class="fas fa-dollar-sign"></i>
  </span>
</div>
<div class="col-md-12">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
      <li class="breadcrumb-item"><a routerLink="/ventas">Ventas</a></li>
      <li class="breadcrumb-item"><a routerLink="/listado-clientes">Clientes</a></li>
      <li class="breadcrumb-item active" aria-current="page">Editar Cliente</li>
    </ol>
  </nav>
</div>
<div class="col-md-12 titulo">
  <span>Editar Cliente</span>
  <button class="btn btn-outline-success btn-lg" routerLink="/listado-clientes">
    Listado
  </button>
</div>
<!-- <div class="col-md-12">
  <p class="alert alert-warning" [@alerta]="estadoAlerta">{{mensaje}}</p>
</div> -->
<div class="col-md-8 offset-2 paddingGlobal">
  <form [formGroup]="formCliente" (ngSubmit)="editarCliente()">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" formControlName="nombre" [(ngModel)]="cliente.nombre">
      <label for="cif">CIF</label>
        <input type="text" class="form-control" formControlName="cif" #cif [(ngModel)]="cliente.cif">
    </div>

    <div class="form-group">       
        <label for="domicilio">Domicilio</label>
        <input type="text" class="form-control" formControlName="domicilio" [(ngModel)]="cliente.domicilio">
    </div>
    
    <div class="form-group">
        <label for="cp">CP</label>
        <input type="number" class="form-control" formControlName="cp" [(ngModel)]="cliente.cp">
        <label for="localidad">Localidad</label>
        <input type="text" class="form-control" formControlName="localidad" [(ngModel)]="cliente.localidad">
    </div>
    
    <div class="form-group">
        <label for="provincia">Provincia</label>
        <select class="form-control" formControlName="provincia" [(ngModel)]="cliente.provincia">
          <option *ngFor="let provincia of provincias" [ngValue]="provincia">
            {{ provincia }}
          </option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="telefono">Telefono</label>
        <input type="text" class="form-control" formControlName="telefono"  [(ngModel)]="cliente.telefono">
        <label for="email">Email</label>
        <input type="text" class="form-control" formControlName="email"  [(ngModel)]="cliente.email">
    </div>
      <div class="form-group">            
          <label for="contacto">Contacto</label>
          <input type="text" class="form-control" formControlName="contacto"  [(ngModel)]="cliente.contacto">
      </div>
      <button type="submit" class="btn btn-success fijo2">
        <span>Guardar</span>
        <!-- <span *ngIf="enviando"><i class="fas fa-spinner fa-pulse"></i></span> -->
      </button>
      <button class="btn btn-danger fijo2" routerLink="/listado-clientes">Cancelar</button>
  </form>
</div>
